# Binaries
/crisis

# Databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Logs
*.log
test_logs/

# Identity files
identity*.json

# OS specific
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/

docs/MOBILE_CONNECT.md
bin
